---
import { type HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...rest } = Astro.props;
---

<div class:list={["flex flex-col gap-y-2 md:flex-row", className]} {...rest}>
  <slot />
</div>
