---
import "@fontsource-variable/inter";
import "@/styles/global.css";
---

<html lang="en" class="overflow-x-clip">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shu Takahashi</title>
  </head>
  <slot />
</html>
