---
import { Layout } from "@/components/layout";
import { Bento } from "@/components/bento";
---

<Layout>
  <body>
    <Bento.Root>
      <Bento.Item class="bg-gray-300" />
      <Bento.Item class="bg-gray-300" />
      <Bento.Item class="bg-gray-300" />
      <Bento.Item class="bg-gray-300" />
      <Bento.Item class="bg-gray-300" />
    </Bento.Root>
  </body>
</Layout>
