---
import { type HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"div"> {
  layout: "sydney5" | "tokyo6";
}

const { layout, class: className, ...rest } = Astro.props;
---

<style is:global>
  .bento-query-container {
    container-type: inline-size;
  }

  .bento-grid {
    display: grid;
    gap: 16px;

    /* w-5xl = 1024px */
    /* px-6 = 24px */
    /* gap = 16px */
    /* cell width at 4 columns = (1024-2*24-3*16)/4 = 232px */

    /* css variable doesn't work as a container query */
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: 232px;
    @container (min-width: calc(2 * 232px + 1 * 16px)) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @container (min-width: calc(4 * 232px + 3 * 16px)) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    & > *:nth-child(1) {
      grid-area: A;
    }
    & > *:nth-child(2) {
      grid-area: B;
    }
    & > *:nth-child(3) {
      grid-area: C;
    }
    & > *:nth-child(4) {
      grid-area: D;
    }
    & > *:nth-child(5) {
      grid-area: E;
    }
    & > *:nth-child(6) {
      grid-area: F;
    }
    & > *:nth-child(7) {
      grid-area: G;
    }
    & > *:nth-child(8) {
      grid-area: H;
    }
  }

  .sydney-5 {
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E";
    @container (min-width: calc(2 * 232px + 1 * 16px)) {
      grid-template-areas:
        "A B"
        "A E"
        "C C"
        "D D";
    }
    @container (min-width: calc(4 * 232px + 3 * 16px)) {
      grid-template-areas:
        "A B C C"
        "A D D E";
    }
  }

  .tokyo-6 {
    grid-template-areas:
      "A"
      "B"
      "C"
      "D"
      "E"
      "F";
    @container (min-width: calc(2 * 232px + 1 * 16px)) {
      grid-template-areas:
        "A B"
        "E B"
        "C D"
        "F F";
    }
    @container (min-width: calc(4 * 232px + 3 * 16px)) {
      grid-template-areas:
        "A B C D"
        "E B F F";
    }
  }
</style>

<div class:list={["bento-query-container", className]} {...rest}>
  <div
    class:list={[
      "bento-grid",
      { "sydney-5": layout === "sydney5" },
      { "tokyo-6": layout === "tokyo6" },
    ]}
  >
    <slot />
  </div>
</div>
