---
import { type HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"aside"> {}

const { ...rest } = Astro.props;
---

<aside
  data-component="callout"
  class="bg-gray-100 px-5 py-4 rounded-sm flex gap-x-3"
  {...rest}
>
  <slot name="icon" />
  <div class="space-y-4">
    <slot name="title" />
    <slot name="default" />
  </div>
</aside>
